footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFAA64;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
  }