
<div *ngIf="safePlaceData">
  <h2>Safety Ratings</h2>
    <ul>
      <li class="no-bullets" *ngFor="let item of safePlaceData.data">
        <h3>{{ item.name }}</h3>
        <ul class="stat-heading">
          <li>Overall:{{ item.safetyScores.overall }}</li>
          <li>LGBTQ: {{ item.safetyScores.lgbtq }}</li>
          <li>Medical: {{ item.safetyScores.medical }}</li>
          <li>Physical Harm: {{ item.safetyScores.physicalHarm }}</li>
          <li>Political Freedom: {{ item.safetyScores.politicalFreedom }}</li>
          <li>Theft: {{ item.safetyScores.theft }}</li>
          <li> Women: {{ item.safetyScores.women }}</li>
        </ul>
        
        
        
        
        
        
       
      </li>
    </ul>
  </div>