
<div class="">
    
    <div class="ab-mission">
<h2 >{{ aboutInformation.title }}</h2>

<h3 class="about">About</h3>
<p>{{ aboutInformation.description }}</p>
<h3 class=" mission">Mission</h3>
<p>{{ aboutInformation.mission }}</p>
</div>

<div class="safety-ratings">
<div >
<h3 >Saftey Ratings</h3>
<div  class="safety-ratings" *ngFor="let item of safetyRatingInformation | keyvalue">
    <ul>
        <li><strong>{{ item.key }}</strong></li>
        <p>{{ item.value }}</p>
    </ul>
</div>
</div>
</div>

<div class=" safety-scores">
<strong>Safety Scores</strong>
<div class="info" *ngFor="let range of safetyRanges">
    <ul><li>{{ range.range }}: {{ range.label }}</li></ul>
</div>
</div>
<h3>Traveler Reviews</h3>
<p>{{ aboutInformation.travelerReviews }}</p>

