img {
  border-radius: 8px;
  width: 450px;
}

.image-and-text {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.875em;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.information{
  text-align: center;
}

.table {
  margin: auto;
  width: fit-content;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  border-style: outset;
  border-width: 7px; 
}

.all {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
}

