<div class="all">
  <div class="information">
    <h1>Choose a destination!</h1>
    <p>Here you will find safety ratings and places to visit for each destination.</p>
  </div>
  <div class="table">
    <table>
      <tbody>
        <div class="table-row">
          <tr *ngFor="let location of locations">
            <div class="table-content">
              <div class="image-and-text">
                <a [routerLink]="['/location', location.id]"><img class="table-image"
                    src="assets/images/{{location.locationName}}.jpeg" alt="{{location.locationName}} Map"></a>
                <div class="bottom-left">{{location.locationName}}</div>
              </div>
            </div>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>