<div>
    <div class="location-details-container">
        <div *ngIf="location" class="location-details">
          <div class="location-info">
            <strong>Name:</strong> {{ location.locationName }}
          </div>
          
            <div class="safe-place">
                <app-safe-place [latitude]="location.latitudeNorth" [longitude]="location.longitudeWest"></app-safe-place>
            </div>
            
          
          </div>
          <div class="surveys">
            <app-survey-list [isLocationDetails]="true" [location]="location.locationName"></app-survey-list>
          </div>
        </div>
        <div class="location-sidebar">
          <!-- Your sidebar content here -->
          <div class="points">
          <app-points-of-interest [latitude]="location.latitudeNorth" [longitude]="location.longitudeWest"></app-points-of-interest>
        </div>
          <div class="back-button">
            <button routerLink="/home">Back</button>
          </div>
        </div>
      </div>
      <div *ngIf="!location" class="location-not-found">
        <p>Location not found!</p>
      </div>
