<div class="all">
    <div *ngIf="location">
        <h1>{{ location.locationName }}</h1>
        <h2>Map</h2>
        <img src="assets/images/{{location.locationName}}.jpg" alt="{{location.locationName}} Map">
         <app-safe-place [latitude]="location.latitudeNorth" [longitude]="location.longitudeWest"></app-safe-place>
         <app-points-of-interest [latitude]="location.latitudeNorth" [longitude]="location.longitudeWest"></app-points-of-interest>
         <app-survey-list [isLocationDetails]="true" [location]="location.locationName"></app-survey-list>
        <div>
            <button routerLink="/home"> Back </button>
        </div>
    </div>
    <div *ngIf="!location">
        <p>Location not found!</p>
    </div>
</div>