<div class="all">
  <div *ngIf="pointsOfInterestData">
    <h2>Places to Visit</h2>
    <div>
      <label for="category">Select Category:</label>
      <select id="category" [(ngModel)]="selectedCategory">
        <option value="">All</option>
        <option value="sights">Sights</option>
        <option value="nightlife">Night Life</option>
        <option value="restaurant">Restaurant</option>
        <option value="shopping">Shopping</option>
      </select>
      <button (click)="fetchPointsOfInterest()">Search</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pointsOfInterestData.data">
          <td>{{ item.name }}</td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>