  
table {
    margin: auto;
    width: fit-content;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    border-style: outset;
    border-width: 7px;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px dashed black; 
}

table td, table th {
    border-right: 1px dashed black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

table th {
  background-color: #f0f0f0;
}

 
  .all {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }