<div>
    <h1>Destination Reviews</h1>
    <a routerLink="/add-survey">Add Review</a>
    <table>
        <thead>
            <tr>
                <th>Traveler</th>
                <th>Location</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveys">
                <td>{{ survey.username }}</td>
                <td>{{ survey.location }}</td>
                <td>{{ survey.message }}</td>
                <td>{{ survey.rating }}</td>
                <td>
                    <!--<button [routerLink]="['/edit-survey', survey.id]">Edit</button>-->
                    <!--<div *ngIf="isAdminAuthenticatedUser"><button (click)="deleteSurvey(survey.id)">Delete</button></div>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>