<header>
    <nav>
        <a routerLink="/">
            <img src="assets/images/logo.png" alt="My Logo">
          </a>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/surveys">Surveys</a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
  
<!--<app-safe-place></app-safe-place>-->
<!--<app-points-of-interest></app-points-of-interest>-->
<!--<app-location-list></app-location-list>-->
<!--<app-location-details></app-location-details>-->
<!--<app-admin-login></app-admin-login>-->
<!--<app-admin-dashboard></app-admin-dashboard>-->